:root {
  // 主题字体颜色
  --content-font-color: #303133;
  // 主题字体颜色 微浅
  --content-font-info-color: #606266;
  // 默认按钮颜色
  --default-button-color: #79bbff;
  // 主题边框颜色
  --border-color: #dcdfe6;
  // 侧边栏背景色
  --side-bg-color: #001529;
  // 侧边栏选中字体颜色
  --side-active-font-color: #79bbff;
  // 侧边栏字体颜色
  --side-font-color: #ffffff;
  // 侧边栏选中背景色
  --custom-color: rgb(24, 144, 255);
  --custom-hover-color: rgb(24, 144, 255, .3);
  // 重置ele菜单选中颜色
  --active-color: var(--custom-color);
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.flex-box {
  display: flex;
}

.link-text {
  cursor: pointer;
}

.middle-icon {
  vertical-align: middle;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.overflow-hidden {
  overflow: hidden;
}

.inset-0 {
  inset: 0rem;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}